/target
/spike/**/target
/spike/**/.venv
/spike/**/__pycache__
/awa-python/target
/awa-python/.venv
/awa-python/__pycache__
*.pyc
*.so
*.pyd
*.dll
.env
awa-python/python/awa/lib_awa.dylib.dSYM/

# Frontend
/awa-ui/frontend/node_modules
/awa-ui/static/assets
/awa-ui/static/index.html
