global
    log stdout format raw daemon
    external-check
    insecure-fork-wanted

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 3s
    timeout client 1m
    timeout server 1m
    timeout check 3s

frontend postgres_rw
    bind *:5432
    default_backend postgres_rw_backends

backend postgres_rw_backends
    option external-check
    external-check path "/usr/local/bin:/usr/bin:/bin"
    external-check command /usr/local/bin/check-primary.sh
    default-server inter 500ms fall 1 rise 1 on-marked-down shutdown-sessions
    server primary primary:5432 check
    server replica replica:5432 check backup
